body{
	background-color:rgb(40,40,40);
	color:rgb(240,240,240);
	/*background-image:url('pildid/kandinsky7.png');*/	
	font-family: Verdana;
	font-size:16px;
	font-weight:400;

	line-height:1.6em;

	margin: 0;
}
a{
	text-decoration:none;
	color:rgb(240,240,240);
}
a:active{
	color:rgb(180,0,0);
}
.leht{
	width: 80%;
	margin:auto;
	overflow: hidden;
}
#päis{
	background: rgb(200, 140, 140);
	color:rgb(240,240,240);
	padding: 10px;
}
.esimene{
	width: 80%;
	margin:auto;
	border-left:5px red solid;
	padding:20px;
}
.pilt{
	width: 80%;
	margin:auto;
}
#navbar{
	background-color:#333;
	color:rgb(240,240,240);
}

#navbar ul{
	padding:0;
	list-style: none;
}

#navbar li{
	display:inline;
}

#navbar a{
	color:rgb(240,240,240);
	text-decoration: none;
	font-size:18px;
	padding-right:25px;
}
#sissejuhatus{
	background-image:url('pildid/kandinsky7.jpg');
	/*background-position:center right;*/
	min-height:300px;
	margin-bottom:30px;
	text-align: center;
	background-size: cover;
}

#sissejuhatus h1{
	color: #fff;
	font-size:50px;
	line-height: 1.6em;
	padding-top:30px;
}

.nimekiri{
	width:80%;
	margin:auto;
	padding-left:5px;
}
.nimekiri h2{
	text-align:left;
	border-left:5px red solid;
	padding-left:5px;
}
.peatükk h3{
	font-size: 18px;
}
.peatükk li{
	margin-left: 2em;
}
.tabel{
	width:80%;
	margin:auto;
	padding-left:5px;
	padding-top:20px;
	padding-bottom: 20px;
}
.probleem{
	background: rgb(200, 0, 0);
	margin: auto;
	padding:20px;
}
#jalus{
	background: #333;
	color:#fff;
	text-align: center;
	padding:20px;
	margin-top:40px;
}