body{
	background-color:rgb(40,40,40);
	color:rgb(240,240,240);
	/*background-image:url('pildid/kandinsky7.png');*/	
	font-family: Verdana;
	font-size:16px;
	font-weight:400;

	line-height:1.6em;

	margin: 0px;
}

a{
	text-decoration:none;
	color:rgb(240,240,240);
}

a:active{
	color:rgb(180,0,0);
}

.leht{
	width:80%;
	margin:auto;
	overflow:hidden;
}

#päis{
	background:rgb(200, 140, 140);
	color:rgb(240,240,240);
	padding:10px;
	
}

.esimene{
	width:80%;
	margin:auto;
	padding:20px;
}

.esilehe_pilt{
	width:80%;
	margin:auto;
}

.esilehe_pilt img{
	width:300px;
}

.galerii_vasak{
	display:flex;
	justify-content: space-between;
	flex-direction: row;
	justify-content: center;
}

.galerii_parem{
	display:flex;
	flex-direction:row-reverse;
	justify-content: center;
}

.pilt img{
	float:top;
	height: 400px;
	padding: 15px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 2px;
}

.pilt figcaption{
	float:bottom;
	font-size:10px;
	padding:2px;
	text-align:center;
}
.pilt_väike{
	float:center;
}
.pilt_väike img{
	border-radius: 50%;
	float:top;
	height: 200px;
	padding: 15px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 2px;
}
.pilt_väike figcaption{
	font-size:10px;
	padding: 2px;
	text-align: center;
}
.pilt_piklik img{
	width:900px;
}
.pilt_piklik figcaption{
	font-size: 10px;
	padding:2px;
	text-align: center;
}


.pilt_kommentaar_parem{
	width:80%;
	margin:auto;
	float:right;
	text-align:right;
}
.pilt_kommentaar_vasak{
	width: 80%;
	margin: auto;
	float: right;
	text-align: left;
}

.tsitaat{
	position:relative;
	border:none;
	font-family: Georgia, "Times New Roman", Times, serif;
	text-align: justify;
	margin-bottom: -30px;
	quotes: "\201C""\201D""\2018""\2019";
}
.tsitaat h4{
	font-style: italic;
	font-size: 18px;
	font-weight: normal;
}
.tsitaat h4:before{
	font-style: normal;
	content:open-quote;
	font-weight: bold;
	font-size: 35px;
	color:rgb(100,100,100);
}
.tsitaat h4:after{
	text-indent: 3px;
	font-style: normal;
	content:close-quote;
	font-weight: bold;
	font-size: 35px;
	color:rgb(100,100,100);
}
.tsitaadi_viide{
	padding-top: 16px;
	font-size:12px;
	text-align:right;
}
.tsitaat_väike{
	font-family: Georgia, "Times New Roman", Times, serif;
	text-align: justify;
	margin-bottom: -30px;
	quotes: "\201C""\201D""\2018""\2019";
}
.tsitaat_väike h4{
	font-style: italic;
	font-size: 12px;
	font-weight: normal;
}
.tsitaat_väike h4:before{
	font-style: normal;
	content:open-quote;
	font-weight: bold;
	font-size: 35px;
	color:rgb(100,100,100);
}
.tsitaat_väike h4:after{
	text-indent: 3px;
	font-style: normal;
	content:close-quote;
	font-weight: bold;
	font-size: 35px;
	color:rgb(100,100,100);
}

.kommentaar_tsitaadiga{
	border:none;
	padding:0;
	display:flex;
	flex-direction:column;
	justify-content: center;
}

.definitsiooni_selgitus{
	list-style-type: none;
	text-align: justify;
}
.definitsiooni_selgitus li{
	display: flex;
	flex-direction: row;
	align-items: center;
}

#navbar{
	margin: 0px;
	background-color:#333;
	padding: 0px;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
}

#navbar ul{
	margin: 0px;
	padding:0px;
	list-style: none;
	
}

#navbar li{
	margin: 0px;
	margin: 8px;
	padding:0px;
	display:inline;
	float: left;

}

#navbar li a:hover {
	background-color:rgb(40,40,40);
}
#navbar a{
	margin: 0px;
	padding:0px;
	display: block;
	color:rgb(200,200,200);
	text-decoration: none;
	font-size:18px;
	padding:10px;
}

#sissejuhatus{
	background-image:url('pildid/kandinsky7.jpg');
	/*background-position:center right;*/
	min-height:300px;
	margin-bottom:30px;
	text-align: center;
	background-size: cover;
}

#sissejuhatus h1{
	color: #fff;
	font-size:50px;
	line-height: 1.6em;
	padding-top:30px;
}

.nimekiri{
	width:80%;
	margin:auto;
	padding-left:5px;
}

.nimekiri h2{
	text-align:left;
	padding-left:5px;
}

.peatükk h3{
	font-size: 18px;
}

.peatükk li{
	margin-left: 2em;
}

.tabel{
	width:80%;
	margin:auto;
	padding-left:5px;
	padding-top:20px;
	padding-bottom: 20px;
}

#jalus{
	background: #333;
	color:#fff;
	text-align: center;
	padding:20px;
	margin-top:40px;
}