body{
	background-color:rgb(40,40,40);
	color:rgb(240,240,240);
	/*background-image:url('pildid/kandinsky7.png');*/	
	font-family: Verdana;
	font-size:16px;
	font-weight:400;

	line-height:1.6em;

	margin: 0px;
}
a{
	text-decoration:none;
	color:rgb(240,240,240);
}
a:hover{
	color:rgb(200, 140, 140);
}
section{
	padding-top: 26px;
	padding-right: 16px;
	padding-left: 16px;
	padding-bottom: 16px;
}
section h2{
	text-align: center;
}

.leht{
	width:80%;
	margin:auto;
	overflow:hidden;
}

#päis{
	background:rgb(200, 140, 140);
	color:rgb(240,240,240);
	padding:8px;
}

.esimene{
	width:80%;
	margin:auto;
	padding:20px;
}

.esilehe_pilt{
	width:80%;
	margin:auto;
}
.esilehe_pilt img{
	width:300px;
}

.slaideri_raam{
	position: relative;
	align-content: center;
}

.slaidid_1{
	width: 90%;
	display: none;
	margin: auto;
}
.slaidid_2{
	display: none;
}
.slaidid_3{
	width: 90%;
	display: none;
	margin: auto;
}
.slaidid_4{
	width: 90%;
	display: none;
	margin: auto;
}
.slaidid_5{
	width: 90%;
	display: none;
	margin: auto;
}
.nupp_eelmine, .nupp_järgmine{
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -30px;
	padding: 16px;
	color: rgb(60,60,60);
	font-weight: bold;
	font-size: 20px;
	border-radius: 0 3px 3px 0;
	user-select: none;
}
.nupp_eelmine{
	position: absolute;
	left: 0px;
	border-radius: 3px 0 0 3px;
}
.nupp_järgmine{
	position: absolute;
	right: 0px;
	border-radius: 0 3px 3px 0;
}
.nupp_eelmine:hover, .nupp_järgmine:hover {
	background-color: rgb(200,140,140);
	color:rgb(240,240,240);
}

.täppide_raam{
	text-align: center;
	background-color: rgb(40,40,40);
}
.täpp_1{
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: rgb(60,60,60);
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}
.aktiivne_täpp_1, .täpp_1:hover {
	background-color: rgb(200, 140, 140);
}
.täpp_2{
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: rgb(60,60,60);
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}
.aktiivne_täpp_2, .täpp_2:hover {
	background-color: rgb(200, 140, 140);
}
.täpp_3{
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: rgb(60,60,60);
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}
.aktiivne_täpp_3, .täpp_3:hover {
	background-color: rgb(200, 140, 140);
}
.täpp_4{
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: rgb(60,60,60);
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}
.aktiivne_täpp_4, .täpp_4:hover {
	background-color: rgb(200, 140, 140);
}
.täpp_5{
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: rgb(60,60,60);
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}
.aktiivne_täpp_5, .täpp_5:hover {
	background-color: rgb(200, 140, 140);
}

.galerii_vasak{
	display:flex;
	flex-direction: row;
	justify-content: center;
}

.galerii_parem{
	display:flex;
	flex-direction:row-reverse;
	justify-content: center;
}
.slaideri_ja_täppide_raam{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.pilt img{
	float:top;
	height: 400px;
	padding-bottom: 2px;
}

.pilt figcaption{
	float:bottom;
	font-size:10px;
	padding:2px;
	text-align:center;
}
.pilt_väike img{
	border-radius: 50%;
	float:top;
	height: 200px;
	padding-top: 15px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 2px;
}
.pilt_väike figcaption{
	font-size:10px;
	padding: 2px;
	text-align: center;
}
.pilt_piklik img{
	width:900px;
}
.pilt_piklik figcaption{
	font-size: 10px;
	padding:2px;
	text-align: center;
}

.pilt_kommentaar_parem{
	margin:auto;
	float:right;
	text-align: right;
}
.pilt_kommentaar_vasak{
	margin: auto;
	padding-right: 16px;
	float: right;
	text-align: left;
}

.tsitaat{
	position:relative;
	border:none;
	font-family: Georgia, "Times New Roman", Times, serif;
	text-align: justify;
	margin-bottom: -30px;
	quotes: "\201C""\201D""\2018""\2019";
}
.tsitaat b{
	color: rgb(200,140,140);
}
.tsitaat h4{
	font-style: italic;
	font-size: 18px;
	font-weight: normal;
}
.tsitaat h4:before{ /*jutumärgid*/
	font-style: normal;
	content:open-quote;
	font-weight: bold;
	font-size: 35px;
	color:rgb(200,140,140);
}
.tsitaat h4:after{ /*jutumärgid*/
	text-indent: 3px;
	font-style: normal;
	content:close-quote;
	font-weight: bold;
	font-size: 35px;
	color:rgb(200,140,140);
}

.tsitaadi_viide{
	padding-top: 16px;
	font-size:12px;
	text-align:right;
}
.tsitaat_väike{
	font-family: Georgia, "Times New Roman", Times, serif;
	text-align: justify;
	margin-bottom: -30px;
	quotes: "\201C""\201D""\2018""\2019";
}
.tsitaat_väike h4{
	font-style: italic;
	font-size: 12px;
	font-weight: normal;
}
.tsitaat_väike h4:before{ /*jutumärgid*/
	font-style: normal;
	content:open-quote;
	font-weight: bold;
	font-size: 35px;
	color:rgb(200,140,140);
}
.tsitaat_väike h4:after{ /*jutumärgid*/
	text-indent: 3px;
	font-style: normal;
	content:close-quote;
	font-weight: bold;
	font-size: 35px;
	color:rgb(200,140,140);
}

.kommentaar_tsitaadiga{
	border:none;
	padding:0;
	display:flex;
	flex-direction:column;
	justify-content: center;
}

.def_päis {
	text-align: center;
	font-size: 10px;
	color: rgb(200,140,140);
}
.def_sõnastus {
	text-align: center;
	line-height: 30px;
}
.def_kommentaar {
	text-align: right;
	font-size: 10px;
}

.definitsiooni_selgitus{
	list-style-type: none;
	text-align: justify;
}
.definitsiooni_selgitus li{
	display: flex;
	flex-direction: row;
	align-items: center;
}
.avatud_leht{
	text-decoration: underline;
	text-decoration-color: rgb(200,140,140);
}
.vastuväide_vastus_raam{
	display: flex;
	flex-direction: row;
	align-items: center;
}
.vastuväide{
	padding: 40px;
}
.vastus{
	padding: 40px;
}
#navbar{
	margin: 0px;
	background-color:#333;
	padding: 0px;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
}

#navbar ul{
	margin-top: 0px;
	padding:0px;
	list-style: none;

}

#navbar li{
	margin: 0px;
	padding:0px;
	display:inline;
	float: left;

}

#navbar li a:hover {
	background-color:rgb(40,40,40);
}
#navbar a{
	margin: 0px;
	padding:0px;
	display: block;
	color:rgb(200,200,200);
	text-decoration: none;
	font-size:18px;
	padding:9px;
}

#sissejuhatus{
	background-image:url('pildid/kandinsky7.jpg');
	/*background-position:center right;*/
	min-height:300px;
	margin-bottom:30px;
	text-align: center;
	background-size: cover;
}

#sissejuhatus h1{
	color: #fff;
	font-size:50px;
	line-height: 1.6em;
	padding-top:50px;
}

.nimekiri{
	width:80%;
	margin:auto;
	padding-left:5px;
}

.nimekiri h2{
	text-align:left;
	padding-left:5px;
}

.peatükk h3{
	font-size: 18px;
}

.peatükk li{
	margin-left: 2em;
}

.tabel{
	width:80%;
	margin:auto;
	padding-left:5px;
	padding-top:20px;
	padding-bottom: 20px;
}

#jalus{
	background: #333;
	color:#fff;
	text-align: center;
	padding:20px;
	margin-top:40px;
}
.kast{
	margin:auto;
	background: rgb(60, 60, 60);
	padding: 10px 38px;
	font-size:18px;
}
.kast_2{
	width: 50%;
	margin: auto;
	background: rgb(60, 60, 60);
	padding: 10px 60px 30px;
}